.headings {
    color: red; 
}

.background-color {
    background-color: beige;
}

#londonHeading {
    background-color: pink;
}

#jump {
    color: blue:
}

#theTop {
    color: red;
}

.span {
    padding: 0px 5px;
    border-top: 2px black solid;
    border-bottom: 4px grey solid;
}

.p {
    border: 10px lightgreen ridge;
    margin: 5px;
}

h1 {
    font-family: Roboto, sans-serif;
    text-align: center; 
}

body {
    font-family: "Crimson Text", serif;
}